body {
    background: #333;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}
#global_container {
    padding: 1ex;
}
img {
    border: none;
    margin: 1ex;
    border: solid 3px #555;
    border-radius: 3px;
}
img.tn:hover {
    border: solid 3px #EEE;
    transform: scale(1.2);
    z-index: 3;
    transition-duration: 300ms;
}
a {
    font-weight: bold;
}
h1 {
    margin: 0;
    color: #DDE;
}
button {
    background: #e3e3e3;
    border: 1px solid #bbb;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
    box-shadow: inset 0 0 1px 1px #f6f6f6;
    color: #333;
    font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
    margin: 2px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
}
button.current {
    color: #E33;
}
hr {
    margin: .5ex auto 0 auto;
    width: 50%;
}
input#delay {
    background-color: #E3E3E3;
    border-radius: 3px;
    border: 1px solid #BBB;
    float: left;
    font-size: 170%;
    margin-top: 0.1ex;
}
button.busy {
    color: orange;
}
#projector {
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    height: 98%;
    background-color: rgb(28, 35, 42);
    margin: 0;
    padding: 1%;
    z-index: 3;
    transition-property: top;
    transition-duration: 230ms;
    transition-timing-function: ease-in;
}
#projected {
    display: block;
    margin: auto auto 0 auto;
    min-width: 10px;
    min-height: 10px;
    max-width: 90%;
    max-height: 90%;
    transition-property: opacity, transform;
    transition-duration: 1000ms;
}
#popup {
    position: fixed;
    left: 50%;
    top: 50%;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 1ex;
    border: 3px solid #AAA;
    color: black;
    font-weight: bold;
    transition-property: top;
    transition-duration: 230ms;
    transition-timing-function: ease-in;
    z-index: 42;
    margin-left: -40ex;
    width: 80ex;
}
.cache {
    display: block;
    width: 1px;
    height: 1px;
    opacity: 0.1;
    margin-top: 1ex;
    border: none;
}

.slide-down {
    top: 101% !important;
}
.pull-right {
    float: right;
}
.bg_caption {
    color: #EEE;
    text-decoration: none;
}
.bigfont {
    font-size: 200%;
    font-weight: bold;
}
.loading {
    opacity: 0.0;
}
/* SVG sprite , used pyconizer for the svg */
.icon_pack, .icon_hdd, .icon_cycle {
    background-image: url(data:image/svg+xml;base64,{{{SVG_FILE}}});
    background-repeat: no-repeat;
    display: inline-block;
    width: 64px;
    height: 64px;
    transform: scale(0.6);
}
.icon_pack:hover, .icon_hdd:hover, .icon_cycle:hover {
    transform: scale(1.0);
    transition-duration: 400ms;
}

.icon_pack {
    background-position: 0 0;
}

.icon_hdd {
    background-position: 0 -64px;
}

.icon_cycle {
    background-position: 0 -128px;
}

