body {
    background: [[BACKGROUND_COLOR]];
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}
#container {
    transition: none;
    zoom: 1;
}
#global_container {
    padding: 1ex;
    transition: none;
}
div.item:hover {
  z-index: 3;
  transform: rotateZ(0) !important;
    transition-duration: 300ms;
}
div.action_icon {
    cursor: pointer;
}
img {
    border: none;
    margin: 1ex;
    border: [[TN_BORDER]];
    border-radius: 3px;
    cursor: pointer;

    /* shadow */
    -moz-box-shadow: 0px 0px 5px 2px #656565;
    -webkit-box-shadow: 0px 0px 5px 2px #656565;
    -o-box-shadow: 0px 0px 5px 2px #656565;
    box-shadow: 0px 0px 5px 2px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
img.tn:hover {
    border: [[HIGHLIGHT_TN_BORDER]];
    transform: scale(1.1);
    transition-duration: 300ms;
    transition-timing-function: ease;
}
a {
    font-weight: bold;
}
h1 {
    margin: 0;
    color: [[PICTURE_TITLE]];
}
button {
    font: bold 20px/1 "helvetica neue", helvetica, arial, sans-serif;
    margin: 2px 1ex;
    text-align: center;
    text-shadow: 0 3px 0 [[BUT_TEXT_SHADOW]];
    cursor: pointer;
    color: [[BUT_TEXT]];
    background: [[BUT_COLOR]];
    border: [[BUT_BORDER]];
    border-radius: 3px;
    margin-right: 1ex;
    padding: 5px;
}
button:hover {
    border-color: [[ACTIVE_COLOR]];
    transition-duration: 300ms;
    transform: scale(1.25);
}
button.current {
    color: [[ACTIVE_COLOR]];
}
hr {
    margin: .5ex auto 0 auto;
    width: 50%;
}
input#delay {
    border-radius: 3px;
    float: left;
    font-size: 150%;
    background-color: #999;
    color: #eee;
    padding: 0.4ex 0px 0px;
    text-align: center;
    border: medium none;
}
button.busy {
    color: [[BUSY_COLOR]];
}
#projector {
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    height: 98%;
    background-color: [[PROJ_BACKGROUND]];
    margin: 0;
    padding: 1%;
    z-index: 3;
    transition-property: top;
    transition-duration: 230ms;
    transition-timing-function: ease-in;
}
#projected_video {
    margin: auto auto 0 auto;
    width: 90%;
    min-width: 10px;
    min-height: 10px;
    max-width: 90%;
    max-height: 90%;
}
#projected {
    display: block;
    position: relative;
    top: -64px; /* cover left & right icons */
    margin: auto auto 0 auto;
    min-width: 10px;
    min-height: 10px;
    max-width: 90%;
    max-height: 90%;
    transition-property: opacity, transform;
    transition-duration: 1000ms;
    cursor: help;
}
#popup {
    position: fixed;
    left: 50%;
    top: 50%;
    text-align: center;
    background: [[POPUP_BACKGROUND]];
    padding: 1ex;
    border: [[POPUP_BORDER]];
    color: black;
    font-weight: bold;
    transition-property: top;
    transition-duration: 230ms;
    transition-timing-function: ease-in;
    z-index: 42;
    margin-left: -40ex;
    width: 80ex;
}
.cache {
    display: block;
    width: 1px;
    height: 1px;
    opacity: 0.1;
    margin-top: 1ex;
    border: none;
}

.slide-down {
    top: 101% !important;
}
.pull-right {
    float: right;
}
.bg_caption {
    text-decoration: none;
}
.bigfont {
    font-size: 200%;
    font-weight: bold;
}
.loading {
    opacity: 0.0;
}
/* SVG sprite , used pyconizer for the svg */
